/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  /* Research @media later*/
  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 16px;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      /*grid-gap: 10px;*/
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
  
  @media all and (max-width:750px) {
    .grid {
        grid-gap: 10px;
    }
  
    .grid-item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
  
    h1 {
        font-size: 12px;
    }
  }
  
  body {
      background-color: #f8f8ff;
      font-family: 'Roboto Mono', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: undefined;
      /* Sets the font size to 16px */
      line-height: 1.6;
      /* Sets the line-height to 1.6 */
    }
  
    header {
      font-family: 'Roboto Mono', sans-serif;
      font-weight: 400;
      font-size: 16px;
      /* Sets the font size to 16px */
      line-height: 1.4;
    }
    
    h1 {
      font-size: 20px;
      font-weight: 700;
    }
    
    h2 {
      font-size: 24px;
      font-weight: 700;
    }
    
    h3 {
      font-size: 18px;
      font-weight: 700;
    }
  
    a {
      color: #31a619;
    }
  
    footer {
      text-align: center;
    }
    
    a:hover {
      /* No underlining when hovering over a link */
      text-decoration: none;
    }
  
    a:visited {
      /* visited link */
      color: #84289b;
    }
    
    a:active {
      /* selected link */
      color: #385fc2;
    }
  
    .button {
      /* overwrites browser defaults and resets the border */
      border: none;
      display: inline-block;
      /* takes the font from the outer container */
      font-family: inherit;
      /* styles the button */
      background-color: #0D3B66;
      color: white;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      /* width of the border, type, color */
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }
  
    button {
      /* overwrites browser defaults and resets the border */
      border: none;
      display: inline-block;
      /* takes the font from the outer container */
      font-family: inherit;
      /* styles the button */
      background-color: #0D3B66;
      color: white;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      /* width of the border, type, color */
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }
    
    button:hover,
    button:focus,
    .button:hover,
    .button:focus {
      /* lets the mouse appear as a hand when hovering over the button */
      cursor: pointer;
      /* reduces the opacity of the button to 80% */
      opacity: 0.8;
    }
  
  .navigation-list__item--active {
      text-decoration: none;
  }
  
  #logo {
    height: 100px;
    width: 270px;
  }
  
  .page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px;
  }
  
  .page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50px;
            flex: 0 1 50px;
  }
  
  .page-header__item:first-child {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 60px;
    height: 60px;
  }
  
  .page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
  
  .txt-intro {
    text-align: center;
  }
  
  @supports (display: grid) {
    .grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      margin: 10px;
    }
  }
  .grid__item {
    background-color: #0D3B66;
    color: #FCB139;
    text-align: center;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
    display: inline-block;
  }
  
  .grid__item:last-child {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 0;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  /*research keyframes later*/
  @-webkit-keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
  }
  @keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
  }
  
  @-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
  }
  
  @keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
  }
  
  @-webkit-keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  
  @keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  
  #about-picture {
    margin-top: 20px;
    height: 600px;
  }